/* 
#37353a - dark grey

#f8c7b9 - pink
#ad776d - hover pink

#fef9fe - slightly off-white white - DON'T USE
#e0dbe1 - light grey
#7f7a80 - hover grey

#181715 - black
#131210- hover black
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  /* border-radius: 10px; */
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to top, #37353a, #181715);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #f8c7b9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ad776d;
}

.navbar {
    background: rgba(24,23,21,0.0);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #f8c7b9;
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #f8c7b9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.navbar__links span {
    color: #e0dbe1;
    font-size: 0.8rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.navbar__links:hover {
    color: #ad776d;
    transition: all 0.3s ease;
}

.navbar__links:hover span {
    color: #7f7a80;
    transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        /* background: #131313; */
    }

    .navbar__menu.active {
        background: rgba(24,23,21,0.2);
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: auto;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle {
        padding-top: 8px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 2px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #f8c7b9;
    }

    .navbar__item {
        /* border-bottom: 1px solid #f8c7b9; */
        width: 100%;
    }
    
    .navbar__item:hover {
        background: rgba(0,0,0,0.2);;
        /* opacity: 0.30; */
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}

.hero {
    background: #37353a;
    background: linear-gradient(to top, #37353a, #181715);
    margin-top: -90px;
    padding-bottom: 390px;
    padding-top: 340px;
    /* height: 390px; */
}

.hero__container {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:left;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding: 30px;
}

.typewriter h1 {
    display: inline-block;
    color: #f8c7b9;
    /* padding-left: 300px; */
    /* padding-right: 900px; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f8c7b9; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin-right: 700px; */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-family: Tahoma, sans-serif;
    font-size: 5rem;
    /* font-size: 4vw; */
    animation: 
      typing 2.5s steps(15, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }

  @media screen and (min-width: 1400px) {
    @keyframes typing {
        from { width: 0 }
        to { width: 75% }
      }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f8c7b9; }
  }

.hero__heading {
    font-size: 40px;
    margin-bottom: 24px;
    color: #f8c7b9;
    font-family: "Lucida Console", "Courier New", monospace;
}

.hero__subheading {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ad776d;
    width: 300px;
    line-height: 1.6;
    font-family: "Lucida Console", "Courier New", monospace;
}

.hero__description {
    text-align: left;
    margin-top: 10px;
    width: 300px;
    line-height: 1.6;
    color: #e0dbe1;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.main {
    background: #37353a;
    padding-bottom: 390px;
    padding-top: 350px;
}

  .main__container {
    /* display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:left;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding: 30px;
  }

  .main__heading {
    font-size: 40px;
    margin-bottom: 24px;
    color: #f8c7b9;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .main__description {
    /* text-align: left; */
    margin-top: 10px;
    /* width: 300px; */
    line-height: 1.6;
    color: #e0dbe1;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .main__button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    max-width: 200px;
    border: 2px solid transparent;
    border-color: #f8c7b9;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
}

.main__button:hover {
    background-color: rgba(248,199,185,0.2);
    color: #e0dbe1;
}

  .my__skills {
    background: #37353a;
    padding-bottom: 390px;
    padding-top: 390px;
  }

.footer {
    background: #37353a;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* margin-bottom:-100px; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.footer__container {
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.footer__message {
    color: #f8c7b9;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    text-decoration: none;
    height: 100%;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.footer__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer__item {
    width: 100px;
    height: 80px;
}

.footer__links {
    color: #f8c7b9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.footer__links:hover {
    color: #ad776d;
    transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
    .footer__menu {
        display: grid;
        position: block;
    }
}

.arrow__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 50px;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: left;
    animation-delay: 3.5s;
    animation: fadeIn linear 5s;
 }

.arrow__scroll {
    text-align: left;
    margin-top: 10px;
    margin-left: -10px;
    width: 300px;
    line-height: 1.6;
    color: #e0dbe1;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Lucida Console", "Courier New", monospace;
    transform: rotate(-90deg);
    /* backface-visibility:hidden; */
    vertical-align: bottom;
    transform-origin: 0% 0%;
}

.arrow {
    border: solid #e0dbe1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    /* margin-top: -100px; */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

@media screen and (max-width: 600px) {
    .arrow__footer {
        display: none;
    }
}

@keyframes fadeIn {
      0% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  